body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #333;
}

.equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.hover-effect:hover {
    color: #333 !important;
    text-decoration: underline;
}

/* Image hove effect */
.card-container {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #229ea6;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card-container:hover .overlay {
    opacity: 1;
}
/* Image hove effect End*/